@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');


body {
    font-family: 'Source Sans Pro', sans-serif;

}

h1 {
    position: fixed;
    top: 0;
    left: 50px;
    padding: 10px;
    margin: 0;
    width: 100%;
    background-color: #efefef;
}

p.example {
    margin-top: 100px;
}